<ion-content>
  <p>
    Unified: All of the sentences in a single paragraph should be related to a
    single controlling idea (often expressed in the topic sentence of the
    paragraph). Clearly related to the thesis: The sentences should all refer to
    the central idea, or thesis, of the paper (Rosen and Behrens 119). Coherent:
    The sentences should be arranged in a logical manner and should follow a
    definite plan for development (Rosen and Behrens 119). Well-developed: Every
    idea discussed in the paragraph should be adequately explained and supported
    through evidence and details that work together to explain the paragraph’s
    controlling idea (Rosen and Behrens 119).
  </p>
</ion-content>
