<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button routerLink="/ionitmes" slot="start"
        >Back</ion-back-button
      >
    </ion-buttons>
    <ion-title>alok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/Img/11.jpg"></ion-img>
  <br />
  <ion-img src="../assets/Img/15.jpg"></ion-img>
  <br />
  <ion-img src="../assets/Img/16.jpg"></ion-img>
  <br />
  <ion-img src="../assets/Img/17.jpg"></ion-img>
  <br />
  <ion-img src="../assets/Img/12.jpg"></ion-img>
  <br />
  <ion-img src="../assets/Img/13.jpg"></ion-img>
  <br />
  <ion-img src="../assets/Img/14.jpg"></ion-img>
  <br />
  <ion-img src="../assets/Img/18.jpg"></ion-img>
  <br />
</ion-content>
