<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" slot="end" name="home-outline"></ion-icon>
    <ion-buttons>
      <ion-menu-button> </ion-menu-button>
      <ion-back-button routerLink="/home" slot="start"> Back </ion-back-button>
    </ion-buttons>
    <ion-title>Scenario1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div
      style="padding: 20px; font-size: 20px; font-weight: bold"
      *ngFor="let item of Developers"
    >
      <ion-item
        style="
          padding: 20px;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 1px solid;
        "
      >
        <p>
          <img
            style="object-fit: cover; height: 80px; width: 80px"
            src="{{item.profilePic}}"
          />
        </p>

        <div style="display: flex; margin-left: 20px">
          <div><p>{{item.name}}</p></div>

          <ion-button
            (click)="fire(item)"
            color="dark"
            style="margin-top: 18px; margin-left: 16px"
            >View</ion-button
          >
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
