<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" slot="end" name="home-outline"></ion-icon>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Name</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label> Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label> Password</ion-label>
    <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label> Confirm Password</ion-label>
    <ion-input [(ngModel)]="cnfpass"></ion-input>
  </ion-item>
  <ion-button color="danger" style="width: 100%" (click)="submit()">
    Submit
  </ion-button>
</ion-content>

<ion-footer>
  <ion-button color="danger" style="width: 100%" routerLink="/login">
    Login
  </ion-button>
</ion-footer>
