<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" slot="end" name="home-outline"></ion-icon>
    <ion-buttons>
      <ion-menu-button> </ion-menu-button>
      <ion-back-button routerLink="/home" slot="start"> Back </ion-back-button>
    </ion-buttons>
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    autoplay="4000"
    style="height: 100%"
    pager="true"
    loop="true"
    speed="300"
  >
    <ion-slide>
      <div style="width: fit-content">
        <ion-img src="../assets/Img/s1.jpg"> </ion-img>
      </div>
    </ion-slide>
    <ion-slide>
      <div style="width: fit-content">
        <ion-img src="../assets/Img/s2.jpg"> </ion-img>
      </div>
    </ion-slide>
    <ion-slide>
      <div style="width: fit-content">
        <ion-img src="../assets/Img/s3.jpg"> </ion-img>
      </div>
    </ion-slide>
    <ion-slide>
      <div style="width: fit-content">
        <ion-img src="../assets/Img/s4.jpg"> </ion-img>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
